@import "tailwindcss";
 /* original base color 809848 */
:root {
  --primary-color: #984894;
  --secondary-color: rgb(68, 34, 32);
 
}

@theme {
  /* Hover */
  --color-primary-hover: oklch(
    from var(--primary-color) calc(l * 1.45) calc(c * 0.9) calc(h * 1)
  );

  /* 50 */
  --color-primary-50: oklch(
    from var(--primary-color) calc(l * 1.45) calc(c * 0.25) h
  );

  /* 100 */
  --color-primary-100: oklch(
    from var(--primary-color) calc(l * 1.35) calc(c * 0.35) h
  );

  /* 400 */
  --color-primary-400: oklch(
    from var(--primary-color) calc(l * 1.15) calc(c * 0.9) h
  );

  /* 600 (BASE) */
  --color-primary-600: oklch(from var(--primary-color) l c h);

  /* 800 */
  --color-primary-800: oklch(
    from var(--primary-color) calc(l * 0.85) calc(c * 0.75) h
  );

  --color-secondary-700: oklch(from var(--secondary-color) l c h);

  --color-secondary-900: oklch(
    from var(--secondary-color) calc(l * 0.7) calc(c * 0.75) h
  );
}

.chat-msgs {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--color-primary-hover);
  scrollbar-gutter: stable;
  scrollbar-track-color: var(--primary-color);
}
